
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font:  'Poppins', 'sans-serif';
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom left,
                                #000000 10%, 
                                #1a1a1a 25%, 
                                #333333 50%, 
                                #1a1a1a 75%, 
                                #000000 90%);
    display: grid;
    place-items: center;
}

.game-info{
    position: absolute;
    top: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    color: white;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.box-1, .box-2, .box-4, .box-5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.box-3, .box-6{
    border-bottom: 2px solid white;
}
.box-7, .box-8{
    border-right: 2px solid white;
}

.btn{
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    display: none;
}
.btn.active{
    display: flex;
}
.win{
    background-color: rgba(0, 255, 0, 0.3);
}